@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims
@model IEnumerable<SalesTracker.Models.Item>

<script type="text/javascript">
    $(document).ready(function () {
        $('.display-details').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                url: '@Url.Action("Details")',
                success: function (result) {
                    var thisItem = "<p>" + result.itemId + "<p>";
                    var resultDiv =  "#result" + result.itemId;
                    console.log(thisItem);
                    $(resultDiv).html(thisItem);
                        }
                    });
        });
    });
</script>


@foreach (var item in Model)
{
    <form action="Details" class="display-details">
        <input type="number" value="@item.ItemId" name="id" />
        <button type="submit">@Html.DisplayFor(i => item.Name)</button>
    </form>
    <script>
        console.log(@item.ItemId)
    </script>
   

    <div id="@("result" +  item.ItemId)"></div>
}
<div class="list-card">
    <button class="register-view">Register</button>
    <button class="login-view">Login</button>
    <div id="registerView"></div>
    <div id="loginView"></div>
</div>