@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

<script type="text/javascript">
    $(document).ready(function () {
        $('.create-role-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("CreateRoleView", "Roles")',
                success: function (result) {
                    $('#createRoleView').html(result);
                }
            });
        });
        $('.assign-role-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("AssignRoleView", "Roles")',
                success: function (result) {
                    $('#assignRoleView').html(result);
                }
            });
        });
    });
</script>



<h3>Roles</h3>
<br />

@foreach (var role in Model)
{
    <p>@role.Name</p>
}

<div class="list-card">
    <button class="create-role-view">Create role</button>
    <button class="assign-role-view">Assign role</button>
    <div id="createRoleView"></div>
    <div id="assignRoleView"></div>
</div>


<hr />
<p>@Html.ActionLink("Go to Account", "Index", "Account")</p>
<p>@Html.ActionLink("Go to Items", "Index", "Items")</p>
<p>@Html.ActionLink("Go to Cart", "Index", "Sales")</p>
p>@Html.ActionLink("Go to Commission", "Index", "Commission")</p>