@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims

@model  SalesTracker.Models.Sale

<script type="text/javascript">
    $(document).ready(function () {
        $('.display-add-cart').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                url: '@Url.Action("Create")',
                success: function (result) {
                    console.log(result);
                    var resultId = "result" + result.saleId;
                    var thisItem = '<p>' + result.item.name + '</p> <p class="display-delete-Item" id='+ resultId+'>Delete</p>';
                    $(".display-cart").html(thisItem);
                        }
                    });
        });
    });
</script>



<h2>Sales</h2>

<h3>Buy Item:</h3>
    <form action="Create" class="display-add-cart">
        <select asp-for="ItemId" asp-items="ViewBag.ItemId" name="id">
        </select>
    <button type="submit">Add to Cart</button>
</form>



<h3>Cart</h3>
<div class="display-cart"></div>

<hr />

<p>@Html.ActionLink("Go to Roles", "Index", "Roles")</p>
<p>@Html.ActionLink("Go to Items", "Index", "Items")</p>
<p>@Html.ActionLink("Go to Account", "Index", "Account")</p>
p>@Html.ActionLink("Go to Commission", "Index", "Commission")</p>
 